{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = 'stylesheet' href = '{% static "pico/css/pico.min.css" %}'>
</head>
<body>
    <main class = 'container'>
    <nav>
        <ul>
        <li ><a href = '/login'> VHOD </a></li>
        <li ><a href = '/register'> REGISTER </a></li>
        <li><a href = '/booking'> BOOKING </a></li>
        <a href = '/bookings'> BOOKINGS </a>
        <a href = '/'> OSNOVNAYAA </a>
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
    <main>
</body>
</html>